.container {
  width: 600px;
  padding: 0 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.tabs {
  border-bottom: 1px solid #ddd;
  padding-left: 0;
  list-style: none;
}

.tabs li{
  display: inline-block;
  margin-bottom: -1px;
  padding: 10px 15px;
  cursor: pointer;
}

.tabs li.active{
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px 4px 0 0;
  border-bottom-color: transparent;
}

.tab-content{
  display: none;
}

.tab-content.active{
  display: block;
}