body {
    background: url(page-mock.png);
    background-size: 1024px 885px;
    background-repeat: no-repeat;
}
  
.header{
    width: 1010px;
    height: 110px;
    /*border: 1px solid red;*/
    box-sizing: border-box;
    }

p.title {
    color:#666666;
    font-family: Verdana;
    text-align:center;
    font-size:48px;
    font-weight: normal;
    transform: translate(-2px,-6px);
}

.left{ 
    /*border: 1px solid red; */
    box-sizing: border-box;
    margin-top: -40px;
    width: 420px;
    height: 1110px;
    float: left;
}

.right {
   /* border: 1px solid red;*/
    box-sizing: border-box;
    margin-top: -40px;
    float: left;
    width: 590px;
    height: 1110px;
}

.upleft{
    width: 420px;
    height: 400px;
}

.photo {
    transform: translate(30px,5px);
    width: 375px;
    height: 375px;
    display: block;
}

.downleft{
    font-family: Verdana;
    float:left;
    width: 370px;
    height: 219px;
    transform: translate(30px,11px);
    border-style: ridge;
}

h2.subtitle{
    color:#f07c17;
    transform: translate(30.5px,6.5px);
}

ul.list{
    color:#666666;
    transform: translate(32px,23px);
}


p.upright {
    color:#f07c17;
    font-family: Verdana;
    font-size:25px;
    font-weight: 900;
    margin-top:  0px; 
    /*border: 1px solid black;*/
    box-sizing: border-box;
    width: 590px;
    height: 50px;
    padding-left: 17px;
    padding-top: 6px;
    word-spacing: -2px;

}

.downright {
    /*border: 1px solid black;*/
    box-sizing: border-box;
    margin-top:  -29px; 
    width: 590px;
    height: 700px;
    padding-top: 3px; 
    padding-left: 18px;
    padding-right: 40px;
}

li{
    height:32px;
}

p.para1{
    line-height: 33px;
    color:#666666;
    font-size:16px;
    font-family: Verdana; 
    text-align:left; 
    font-weight: normal;
}

p.para2{
    /*border: 1px solid black;*/
    box-sizing: border-box;
    width: 590px;
    height: 100px;
    margin-top: -8px;
    margin-left: -17px;
    line-height: 33px;
    color:#666666;
    font-size:16px;
    font-family: Verdana; 
    text-align:left; 
    font-weight: normal;
    padding-left: 16px;
    padding-right: 35px;
}
p.para3{
    /*border: 1px solid black;*/
    box-sizing: border-box;
    width: 590px;
    height: 100px;
    margin-top: 102px;
    margin-left: -17px;
    padding-left: 16px;
    padding-right: 35px; 
    line-height: 33px;
    color:#666666;
    font-size:16px;
    font-family: Verdana; 
    text-align:left; 
    font-weight: normal;
}


